@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

body {
  font-family: 'Lato', sans-serif;
}

#app {
  height:100%;
  width:100%;
  background:#f00;
  color:#fff;
  position: fixed;
  margin: 0
}

.clearfix {
  clear: both;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.05s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.05s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.menu-button {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 10;
}

#page-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 52px;
  border-bottom: 1px solid gray;
}
/*
 font-size: 12px;
.top-bar-totals {
  display: inline-block;
  width: 70px;
}

.top-bar-totals .total-box {
  position: relative;
  height: 25px;
  vertical-align: bottom;
}

.top-bar-totals .total-label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 8px;
}

.top-bar-totals .total-balance {
 position: absolute;
  bottom: 0;
  left: 25px;
  width: 35px;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}
*/

.top-bar-box {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 45px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px 3px;
  margin: 6px 0 6px 6px;
}

.top-bar .box-label {

}

.top-bar .box-value {

}

.top-bar .positive {
  color: #60f507;
  border: 1px solid #60f507;
}

.top-bar .negative {
  color: red;
  border: 1px solid red;
}

#modal-container {
  
}

.modal-background {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  padding-top: 40px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  border-radius: 15px;
  width: 85%;
  padding: 15px;
}

.modal-content * {
  font-size: 16px;
}

.modal-button-stack {
  text-align: center;
}

.modal-button-stack button {
  width: 90%;
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  border: 0;
  font-weight: bold;
}

.modal-input {
  width: 100%;
  margin: 5px 0 15px;
  padding: 5px;
  box-sizing: border-box;
  border: solid gray 1px;
}

.modal-label {
  text-align: left;
  font-weight: bold;
}

.modal-buttons {
  text-align: right;
}

.modal-buttons button {
  margin-left: 8px;
  padding: 5px;
}

/* Modal pop up Animation */
.modal-animate {
  -webkit-animation: animatezoom 0.15s;
  animation: animatezoom 0.15s
}

.value-picker-button-set {
  text-align: center;
}

.value-picker-button-set .btn-set {
  display: inline-block;
  text-align: center;
  margin: 5px 5px 15px;
}

.value-picker-button-set button {
  margin: 2px 4px;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  border: none;
  font-size: 26px;
  font-weight: bold;
}

.task-scroll {
  overflow: scroll;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 60px;
}

.task-row {
  width: 100%;
}

.task-scroll .expired{
  color: #e07500;
}

.task-scroll .normal{
  color: black;
}

.task-row div {
  display: inline-block;
  padding: 5px 4px;
  /*
  vertical-align: middle;
  */
}

.task-due {

}

.task-row .task-due-date {
  font-size: 12px;
  text-align: center;
  width: 36px;
}

.task-row .task-due-time {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  width: 36px;
}

.task-row .task-text {
  overflow-wrap: break-word;
}

.task-row .task-value {
  text-align: center;
  font-weight: normal;
  /*
  border: 1px solid gray;
  border-radius: 5px;
  */
  position: fixed;
  right: 0;
  padding: 4px 6px;
  margin-right: 4px;
  width: 36px;
  text-align: right;
}

.plus-btn {
  position: fixed;
  right: 7px;
  bottom: 7px;
  height: 50px;
  width: 50px;
  z-index: 2;
}


/*
vertical-align: middle;
  font-size: 16px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  background: yellow;
  background: red url(img/plus-btn.png) no-repeat;
  */