
    <div id="myNav" class="overlay">
        <h1>Abbbbout</h1>
    </div>
<script>
//|
//| view controller
//|
//| Note the name below shall match id of the section
//|
// registering the controller
  window.app.page("about", function() {
    // initialize view variables in localscope
    // this is "page ready" code - happens once per app life time.
    
    var $firstName = $(this).find('[name="firstName"]');
    var $lastName = $(this).find('[name="lastName"]');
    
    var contactId; // current id of presented contact 
    
    $(this).on("click","button.save", function(){
      // save contact (contactId) using current $firstName $lastName values
    });
    closeNav();
    
    // presenter of the view - load data and show: 
    // this function is "page activated" code - it gets called each time the page gets presented 
    return function(params) {
      /*contactId = params; // setting current contactId 
      var contact = contacts[contactId];
      // show values 
      $firstName.val(contact.firstName);
      $lastName.val(contact.lastName);
      */
    }
  }); 
</script>
